.bg-servicos{
background-color: #F0F0F6; 
}
.servicopossuem{
 display: flex;
 flex-direction: row;
}
.servicos-img li{
list-style: none;
padding: 10px;
}
.servicos-img ul li img[src$=".webp"]{
  display: block;
width: 180px;
height: 180px;
border-radius: 8px;
box-shadow: 0px 5px 5px black;
}
.servicos-img ul li:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.servicos-descicao{
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-weight:500; 
font-size: 1.5rem;
width: 800px;
margin-left: 80px;
margin-top: 40px;
}
.content {
  display: none;
}
.content.ativo {
  display: block !important; 
  animation: show .5s forwards;
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}